<div class="container" style="padding-left:20px">
  <h1>
  Microservices Quiz
  </h1>
  
  <!--ANSWER
  1 A
  2 B
  3 C
  4 D
  5 B
  6 D
  7 A
  8 B
  9 B
  10 C
  -->
  
  <!-- right now, A is the right answer. fix values, etc.-->
    <h3>Question 1: Microservices are a(n) _____ style.</h3>
        <input type="radio" name="q1" value="10"> Architectural<br>
        <input type="radio" name="q1" value="0"> Commerce<br>  
        <input type="radio" name="q1" value="0"> Business<br>  
        <input type="radio" name="q1" value="0"> Commercial<br><br> 
  
    <h3>Question 2: What controls the virtual path in applications?</h3>
        
        <input type="radio" name="q2" value="0"> Key code<br>  
        <input type="radio" name="q2" value="10"> API Gateway<br>
        <input type="radio" name="q2" value="0"> Silk Road<br>  
        <input type="radio" name="q2" value="0"> Password<br><br>
  
    <h3>Question 3: What do users use to access the pathway?</h3>
        
        <input type="radio" name="q3" value="0"> Bits  <br>  
        <input type="radio" name="q3" value="0"> Bytes  <br>  
        <input type="radio" name="q3" value="10"> Tokens  <br>
        <input type="radio" name="q3" value="0"> User knowledge<br><br>  
  
    <h3>Question 4: What are some perks of microservices?</h3>
        <input type="radio" name="q4" value="0"> Flexibility <br>
        <input type="radio" name="q4" value="0"> Security <br>  
        <input type="radio" name="q4" value="0"> Independence<br>  
        <input type="radio" name="q4" value="10"> All of the above<br><br> 
  
    <h3>Question 5: API Gateway is a form of _____.</h3>
        
        <input type="radio" name="q5" value="0"> Flexibility<br>  
        <input type="radio" name="q5" value="10"> Security <br>
        <input type="radio" name="q5" value="0"> Creativity<br>  
        <input type="radio" name="q5" value="0"> Professionalism<br><br>
  
    <h3>Question 6: If one service is closed, the others can remain open thanks to _____.</h3>
        
        <input type="radio" name="q6" value="0"> Security<br>  
        <input type="radio" name="q6" value="0"> Flexibility<br>  
        <input type="radio" name="q6" value="0"> Creativity<br>
        <input type="radio" name="q6" value="10"> Independence<br><br>  
  
    <h3>Question 7: Deployment of microservices depends on _____.</h3>
        <input type="radio" name="q7" value="10"> Cost and resources<br>
        <input type="radio" name="q7" value="0"> Time restraints<br>  
        <input type="radio" name="q7" value="0"> Ambition<br>  
        <input type="radio" name="q7" value="0"> Foresight<br><br> 
  
    <h3>Question 8: Microservices should not be _____ for needs higher than their own.</h3>
        
        <input type="radio" name="q8" value="0"> used<br>
        <input type="radio" name="q8" value="10"> scaled<br>  
        <input type="radio" name="q8" value="0"> purchased<br>  
        <input type="radio" name="q8" value="0"> tested<br><br>
  
    <h3>Question 9: _____ is a great example of scaled microservices.</h3>
        
        <input type="radio" name="q9" value="0"> Innovation<br>
        <input type="radio" name="q9" value="10"> Duplication<br>  
        <input type="radio" name="q9" value="0"> Creation <br>  
        <input type="radio" name="q9" value="0"> Contemplation<br><br>  
  
    <h3>Question 10: What is the core benefit from having microservices?</h3>
        
        <input type="radio" name="q10" value="0"> Large stacks of code<br>  
        <input type="radio" name="q10" value="0"> Newer technology<br>
        <input type="radio" name="q10" value="10"> Efficiency<br>  
        <input type="radio" name="q10" value="0"> Optimal results<br><br>  

    <button mat-raised-button style="float:right;margin-right: 80px; margin-bottom:80px;">Submit</button>
  
  </div>