<div class="container">
  <h1>
  Technology Value Stream Quiz
  </h1>
  
  
  <!--ANSWER
  1 A
  2 A
  3 C
  4 C
  5 B
  6 A
  7 C
  8 D
  9 D
  10 C
  -->
  
  <!-- right now, A is the right answer. fix values, etc.-->
    <h3>Question 1: Tech value is determined by satisfying the needs of ______.</h3>
        <input type="radio" name="q1" value="1"> User Stories<br>
        <input type="radio" name="q1" value="0"> Accountants<br>  
        <input type="radio" name="q1" value="0"> Advertising Agencies<br>  
        <input type="radio" name="q1" value="0"> OS recommendations<br><br> 
  
    <h3>Question 2: After determing value, IT teams can begin ______.</h3>
        <input type="radio" name="q2" value="1"> planning<br>
        <input type="radio" name="q2" value="0"> purchasing<br>  
        <input type="radio" name="q2" value="0"> coding<br>  
        <input type="radio" name="q2" value="0"> launching web services<br><br>
  
    <h3>Question 3: Lead time is a subset of the _____ stream.</h3>
        
        <input type="radio" name="q3" value="0"> business  <br>  
        <input type="radio" name="q3" value="0"> technology  <br>  
        <input type="radio" name="q3" value="1"> value  <br>
        <input type="radio" name="q3" value="0"> financial<br><br>  
  
    <h3>Question 4: When a change is _____ and deployed, the lead time ends.</h3>
        
        <input type="radio" name="q4" value="0"> finished <br>  
        <input type="radio" name="q4" value="0"> bug-free<br>  
        <input type="radio" name="q4" value="1"> online <br>
        <input type="radio" name="q4" value="0"> operational<br><br> 
  
    <h3>Question 5: Processing time is also known as task or _____ time.</h3>
        
        <input type="radio" name="q5" value="0"> coding <br>  .
        <input type="radio" name="q5" value="1"> touch <br>
        <input type="radio" name="q5" value="0"> crunch <br>  
        <input type="radio" name="q5" value="0"> troubleshooting<br><br>
  
    <h3>Question 6: Processing time begins when?</h3>
        <input type="radio" name="q6" value="1"> When an engineer starts working on the project<br>
        <input type="radio" name="q6" value="0"> Whenever a customer complains<br>  
        <input type="radio" name="q6" value="0"> Whenever a ticket is submitted<br>  
        <input type="radio" name="q6" value="0"> Processing time has no beginning<br><br>  
  
    <h3>Question 7: Processing time ends when?</h3>
        
        <input type="radio" name="q7" value="0"> Whenever the working day is over<br>  
        <input type="radio" name="q7" value="0"> Whenever it is passed on to another employee<br> 
        <input type="radio" name="q7" value="1"> When the work is completed<br> 
        <input type="radio" name="q7" value="0"> Processing time never ends<br><br> 
  
    <h3>Question 8: After development, enginners enter a _____ phase.</h3>
        
        <input type="radio" name="q8" value="0"> Documentation <br>  
        <input type="radio" name="q8" value="0"> Revamping <br>  
        <input type="radio" name="q8" value="0"> Recoding<br>
        <input type="radio" name="q8" value="1"> Testing <br><br>
  
    <h3>Question 9: Which factors lead to long deployment times?</h3>
        <input type="radio" name="q9" value="0"> Numerous tests<br>
        <input type="radio" name="q9" value="0"> Long production phase<br>  
        <input type="radio" name="q9" value="0"> Manual/human work <br>  
        <input type="radio" name="q9" value="1"> All the above<br><br>  
  
    <h3>Question 10: Use _____ to gauge which part of the stream is complete and accurate.</h3>
        
        <input type="radio" name="q10" value="0"> percent completed/accomplished<br>  
        <input type="radio" name="q10" value="0"> testing results<br>  
        <input type="radio" name="q10" value="1"> percent accomplished/completed<br>
        <input type="radio" name="q10" value="0"> supervisor approval<br><br>  
  
  
  </div>