


    <div class="jumbotron">
        <div class="row">
          <div class="col-sm">
              <h3>Tech Value Stream</h3>
              <video width="400" controls>
              <source src="stream.mp4" type="video/mp4" /></video>
              <p>
              <a href="quiz.html">Quiz Me!</a>
              </p>  
          </div>
          <div class="col-sm">
              <h3>Microservices</h3>
              <video width="400" controls>
              <source src="micro.mp4"></video>
              <p>
              <a href="quiz.html">Quiz Me!</a>
              </p>   
          </div>
          <div class="col-sm">
              <h3>Continuous Integration</h3>
              <video width="400" controls>
              <source src="ci.mp4"></video>
              <p>
              <a href="quiz.html">Quiz Me!</a>
              </p>    
          </div>
        </div>
      </div>





   
  
 
