


    <div class="container">

            <div class="container" style="float:right; padding: 5px">
                    <h3>Tech Value Stream</h3>
                    <video width="400" controls>
                    <source src="assets/stream.mp4" type="video/mp4" /></video> 
            </div>

            <div class="container" style="float:right; padding: 5px">
                    <h3>Microservices</h3>
                    <video width="400" controls >
                    <source src="assets/micro.mp4"></video>
            </div>

            <div class="container" style="float:right; padding: 5px">
                    <h3>Continuous Integration</h3>
                    <video width="400" controls >
                    <source src="assets/ci.mp4"></video>
            </div>

      </div>





   
  
 
