<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">

<div class="container" style="padding-left:20px">
  <h1>
  Continuous Integration Quiz
  </h1>
  
  <!--ANSWER
  1 A
  2 B
  3 C
  4 C
  5 D
  6 A
  7 A
  8 D
  9 B
  10 C
  -->
  
  
    <h3>Question 1: What seperates the IT industry from other industries?</h3>
        <input type="radio" name="q1" value="10"> IT never stops developing<br>
        <input type="radio" name="q1" value="0"> Cost variables<br>  
        <input type="radio" name="q1" value="0"> Geographic limitations<br>  
        <input type="radio" name="q1" value="0"> Energy requirements<br><br> 
  
    <h3>Question 2: What is the springboard for applications?</h3>
        <input type="radio" name="q2" value="0"> Shutdown<br>
        <input type="radio" name="q2" value="10"> Initial launch<br>  
        <input type="radio" name="q2" value="0"> Server Restart<br>  
        <input type="radio" name="q2" value="0"> Monthly Sales<br><br>
  
    <h3>Question 3: _____ is the term for repeated changes being implemented.</h3>
        <input type="radio" name="q3" value="0"> Careful Planning<br>  
        <input type="radio" name="q3" value="0"> Optimal Uptime<br>
        <input type="radio" name="q3" value="10"> Continuous Integration<br>  
        <input type="radio" name="q3" value="0"> Value Stream<br><br>  
  
    <h3>Question 4: Developers should check what when making changes?</h3>
        
        <input type="radio" name="q4" value="0"> Marketing<br>  
        <input type="radio" name="q4" value="0"> Display<br>  
        <input type="radio" name="q4" value="10"> Functionality<br>
        <input type="radio" name="q4" value="0"> Orientation<br><br> 
  
    <h3>Question 5: _____ must support continual changes within the industry.</h3>
        
        <input type="radio" name="q5" value="0"> The media<br>  
        <input type="radio" name="q5" value="0"> Education<br>  
        <input type="radio" name="q5" value="0"> Investors<br>
        <input type="radio" name="q5" value="10"> Culture<br><br>
  
    <h3>Question 6: Continuous Integrational is usually followed by _____.</h3>
        <input type="radio" name="q6" value="10"> Continous Deployment<br>
        <input type="radio" name="q6" value="0"> time off<br>  
        <input type="radio" name="q6" value="0"> autopilot management<br>  
        <input type="radio" name="q6" value="0"> restarting systems<br><br>  
  
    <h3>Question 7: What core principle of DevOps supports Continual Integration?</h3>
        <input type="radio" name="q7" value="10"> Agile development<br>
        <input type="radio" name="q7" value="0"> Plan first<br>  
        <input type="radio" name="q7" value="0"> Communication is key<br>  
        <input type="radio" name="q7" value="0"> Saving time and money<br><br> 
  
    <h3>Question 8: What are some benefits of CI?</h3>
        <input type="radio" name="q8" value="0"> Rapid delivery<br>
        <input type="radio" name="q8" value="0"> Easier configuration<br>  
        <input type="radio" name="q8" value="0"> Quicker initilization<br>  
        <input type="radio" name="q8" value="10"> All the above<br><br>
  
    <h3>Question 9: Overcoming the _____ gap is key to solving CI problems.</h3>
        
        <input type="radio" name="q9" value="0"> Communication<br>
        <input type="radio" name="q9" value="10"> Distance<br>  
        <input type="radio" name="q9" value="0"> Creativity<br>  
        <input type="radio" name="q9" value="0"> Standby<br><br>  
  
    <h3>Question 10: What is an easy way to facilitate changes within CI?</h3>
        
        <input type="radio" name="q10" value="0"> Apply codes when they are done<br>  
        <input type="radio" name="q10" value="0"> Double check work<br> 
        <input type="radio" name="q10" value="10"> Delegate management positions<br> 
        <input type="radio" name="q10" value="0"> Start work early<br><br>  

    <button mat-raised-button style="float:right;margin-right: 80px; margin-bottom:80px;" onclick="function quizCi();" type="submit">Submit</button>
  
  
  </div>

  <script>

  function quizCi(){
 
 //starting score of 0
 var score = 0;
     //combine questions by group, getting on answer per group, holds up to 10 questions    
     for(a = 1; a < 11; a+=1) {
         question= document.getElementsByName('q'+a);
         for(b = 0; b < question.length; b+=1) {
             input = question[b];
             // 2 conditions to be met: value must be 1 and it must be checked
             if(input.value === "10" && input.checked==true) {
                 score+=10;
             }
         }
     }
 alert("Your score is" + score);
}
  </script>


</form>

 